.form-group{
  margin: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.card-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.job{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.job .image img{
  width: 150px;
  height: 150px;
  padding: 5px;
}

.edit{
  position: absolute;
  width: 400px;
  border: 1px solid #666;
  background-color: #fff;
  left: 35%;
  transition: all 0.3s ease;
}
